<div>
    <div>
        <span>Filtrar: </span>
        <input type="text" ng-model="filtro" />
    </div>
    <div>
        <ul ng-repeat="quiz in vm.quizzes | filter: {pregunta: filtro}">
            <li>{{ quiz.pregunta }}</li>
            <input type="text" ng-model="respuesta" />
            <span>{{ respuesta === quiz.respuesta ? 'Correcto' : 'Incorrecto' }}</span>
            <div>
                <button ng-click="vm.remove(quiz)">Eliminar</button>
            </div>
        </ul>
    </div>
</div>
